@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

body{
    font-family: 'Lora', serif;
    font-weight: 700;
}
.row {
    --bs-gutter-x: 16.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 0;
    margin-left: 0;
}
.navbar-nav {
    flex-direction: row;
}
.navbar-brand{
    font-size: 40px;
}

.copy{
    text-align: center;
    font-weight: 400;
}
#center{
    padding-left: 600px;
    margin-top: 50px;
    font-weight: 400;
}
